/*.app {
  height: 100vh;
  width: 100vw;
  transition: background-color 1s ease-in;
}

.app__header,
.app__main {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
  font-family: "Raleway", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/*  Search bar */

/* Current weather */

/*my css */
body{margin: 0;background-color: #85c8ff;}

img{width: 75px;}

.DailyDesc div{flex-basis: 14%;}

.BigDesc,.DailyDesc{font-family: Raleway;}

img:first-child{width: 150px;}
span{font-weight: bold;}
.NAV{    
background-color: #4287f5;
padding: 1% 0px 1% 8px;
}
.NAV input:first-child{
background-color: #4287f5;
height: 25px;
border-style: none;
color: wheat;
font-family: 'Raleway';
}
.NAV input:last-child{
margin-left: 5px;
background-color: #3566b5;
border-style: none;
padding: 15px 10px 15px 10px;
font-family: 'Raleway';
}
.BigDesc{   
text-align: center;
font-size: 20px;
}
.DailyDesc{ 
display: flex;
flex-wrap: wrap;
justify-content: space-around;
width: 80%;
margin: 5% auto;
text-align: center;
}


